{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Профиль{% endblock %}

{% block context %}
    {% if user.get_full_name %}
        <div align="center"><h3>{{ user.get_full_name }}</h3></div>
    {% endif %}
    <form action="" method="post" class="uniForm">
        {% csrf_token %}
        {{ profile_form|crispy }}
        <input type="submit" value="Сохранить" class="btn btn-success">
    </form>
    <div class="container">
        <div class="row">
            <div class="col alert alert-success">
                <h4>Мои вопросы</h4>
                {% for question in questions %}
                {{ forloop.counter }}.
                    <a href="{% url "questions:question_detail" pk=question.id %}">{{ question.name }}</a><br>
                {% endfor %}
            </div>
            <div class="col alert alert-primary">
                <h4>Мои ответы</h4>
                {% for answer in answers %}
                    {{ forloop.counter }}.
                        <a href="{% url "questions:answer_edit" pk=answer.id %}">{{ answer.name }}</a><br>
                {% endfor %}
            </div>
         </div>
    </div>
{% endblock %}
