{% extends "categories/base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block context %}
    <a href="{% url "categories:categories_list" %}" class="btn btn-dark">Вернуться ко всем</a><br>
    <div class="container">
        <div class="row alert alert-primary">
            <div class="col-2"><b>ID:</b></div>
            <div class="col">{{ category.id }}</div>
        </div>
        <div class="row alert alert-primary">
            <div class="col-2"><b>Название:</b></div>
            <div class="col">{{ category.name }}</div>
        </div>
    </div>
    <div align="center"><h4>Вопросы по категории</h4></div>
    {% for question in questions %}
        <div class="container">
            <div class="row alert alert-success">
                <div class="col-1"> {{ forloop.counter }}.</div>
                <div class="col"> <a href="{% url "questions:question_detail" pk=question.id %}">{{ question.name }}</a><br></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
