{% extends "categories/base.html" %}

{% load crispy_forms_tags %}

{% load crispy_forms_tags %}

{% block title %}Список категорий{% endblock %}

{% block context %}
    <div align="center"><h4>Список категорий</h4></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-1">№</div>
                    <div class="col-6">Категория</div>
                </div>
                {% for category in categories %}
                    <div class="row alert alert-success">
                        <div class="col-1">{{ forloop.counter }}</div>
                        <div class="col">
                            <a href="{% url "categories:category_detail" pk=category.id %}">{{ category.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3 bg-light">
                <form action="" method="get" class="uniForm">
                    {{ categories_form|crispy }}
                    <input type="submit" value="Go" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}