{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Редактировать ответ{% endblock %}

{% block context %}
    <a href="{% url "questions:question_detail" pk=answer.question_id %}" class="btn btn-info">{{ answer.question.name }}</a><br>
    <div class="alert alert-secondary">{{ answer.question.text }}</div>
    <form action="" method="post" class="uniForm">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Сохранить" class="btn btn-success">
    </form>
{% endblock %}

