{% extends 'questions/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Список вопросов{% endblock %}

{% block context %}
    <div align="center"><h3>Список вопросов</h3></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-1">№</div>
                    <div class="col">Тема вопроса</div>
                    <div class="col-6">Текст вопроса</div>
                    <div class="col">Автор</div>
                </div>
                {% for question in questions %}
                    <div class="row">
                        <div class="col-1">{{ forloop.counter }}</div>
                        <div class="col">
                            <a href="{% url "questions:question_detail" pk=question.id %}">{{ question.name }}</a>
                        </div>
                        <div class="col-6">{{ question.text }}</div>
                        <div class="col">{{ question.author }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3 bg-light">
                <form action="" method="get" class="uniForm">
                    {{ question_form|crispy }}
                    <input type="submit" value="Go">
                </form>
                <a href="{% url 'questions:question_add' %}">Задать вопрос</a>
            </div>
        </div>
    </div>
{% endblock %}